name: Build and Test

on:
  pull_request:
  push:
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: "go.mod"

      - name: Configure
        run: make configure

      - name: Build
        run: make build

      - name: Test
        run: make test

  pre-commit-hook:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: "go.mod"

      - name: Build and install tforganize
        run: |
          make configure
          make build
          cp bin/tforganize /usr/local/bin/tforganize

      - name: Run pre-commit hook script against test data
        run: scripts/pre-commit-tforganize.sh internal/sort/testdata/single_file/unsorted
